 <!-- Sidebar -->
 <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background:#041D2E">

   <!-- Sidebar - Brand -->
   <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
     <div class="sidebar-brand-icon">
       <i class="fas fa-fw fa-tachometer-alt"></i>
       <!-- <img src="<?= base_url('assets/img/icon/logo_wp.png'); ?>" width="40" height="40"> -->
     </div>
     <div class="sidebar-brand-text mx-3">LC MTSN 2</div>
   </a>
   <!-- Divider -->
   <hr class="sidebar-divider">

   <div class="sidebar-heading">
     Dashboard
   </div>

   <li class="nav-item">

     <a class="nav-link pb-0" href="">
       <i class=""></i>
       <span>Judul</span></a>
   </li>

   <!-- Divider -->
   <hr class="sidebar-divider mt-3">

   <li class="nav-item">
     <a class="nav-link" href="" data-toggle="modal" data-target="#logoutModal">
       <i class="fas fa-fw fa-sign-out-alt"></i>
       <span>Logout</span></a>
   </li>
   <!-- Sidebar Toggler (Sidebar) -->
   <div class="text-center d-none d-md-inline">
     <button class="rounded-circle border-0" id="sidebarToggle"></button>
   </div>

 </ul>
 <!-- End of Sidebar -->