<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col m-3">
                <h1>Hello Bootcamp</h1>
                <h2>Eko Sutrisno</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, deleniti laboriosam porro, quam
                    animi necessitatibus similique perspiciatis provident totam cupiditate illo expedita fugit
                    consequuntur tempora iure, fugiat accusamus itaque enim.</p>
            </div>
        </div>
    </div>
</th:block>