<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block layout:insert="~{fragments/header}" />

<body class="" id="page-top">
  <div id="wrapper">
    <th:block layout:replace="~{fragments/sidebar}" />
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <th:block layout:replace="~{fragments/topbar}" />
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <th:block layout:fragment="content" />

        </div>
      </div>
      <th:block layout:replace="~{fragments/footer}" />
    </div>


  </div>
  <!-- ./wrapper -->
  <th:block layout:insert="~{fragments/myscript :: end}" />
</body>

</html>